// forms

::placeholder {
  color: var(--font-color-base);
  opacity: 0.6;
  font-weight: 400;
}

.form-group {
  position: relative;

  &.inline-form {
    display: flex;
    align-items: center;
    gap: 10px;

    .form-label {
      width: 120px;
      text-align: end;
      flex-shrink: 0;
    }


  }

  .data-label {
    i {
      line-height: 5px;
    }
  }

  label {
    font-size: 12px;
    font-weight: 400;
    padding: 6px 0;
    white-space: nowrap;
  }

  &.form-checkbox {
    label {
      white-space: normal;
      word-break: break-word;
    }
  }

  &.floating-label {
    > label {
      position: absolute;
      left: 10px;
      top: -10px;
      background: #fff;
      padding: 0 10px;
      font-size: 12px;
      z-index: 1;

      @include rtl(left, 10px, auto);
      @include rtl(right, auto, 10px);


    }
  }
}


.form-control {
  @extend %form-control;
  min-height: $normal-form-size;

  &:disabled {
    background: #FAFAFA;
    font-weight: normal;
  }

  &.sm {
    min-height: $small-form-size;
  }

  &.lg {
    min-height: $large-form-size;
  }

  &.xl {
    min-height: $extra-large-form-size;
  }


  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 1px;
  }

  &.rounded {
    border-radius: $normal-radius;
  }

}

.form-select {
  @extend %form-control;
  -moz-padding-start: calc(0.75rem - 3px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  @include rtl(background-position, right .75rem center, left .75rem center);


  background-size: 13px 13px;
  height: $normal-form-size;
  cursor: pointer;

  &.sm {
    height: $small-form-size;
  }

  &.lg {
    height: $large-form-size;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 2px;
  }

  &.rounded {
    border-radius: $normal-radius;
  }


}

.form-textarea {
  @extend %form-control;
  height: $normal-textarea-size;

  &.sm {
    height: $small-textarea-size;
  }

  &.lg {
    height: $large-textarea-size;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 2px;
  }

  &:disabled {
    background: #FAFAFA;
     font-weight: normal;
  }

  &.rounded {
    border-radius: $normal-radius;
  }

}


.pre-input {
  position: relative;

  .pre-icon {
    position: absolute;
    height: 100%;
    width: 55px;
    font-size: 20px;
    opacity: 0.6;
    @extend %flex-area;
    justify-content: center;
    z-index: 1;

    @include rtl(right, 0, auto);
    @include rtl(right, auto, 0);

  }

  .mx-datepicker {
    padding-left: 50px;
    padding-right: 50px;
  }

  .vue-tags-input {
    padding-left: 45px;
    padding-right: 45px;
  }

  input {
    padding-left: 45px;
    padding-right: 45px;
  }
}


.search-box {
  & + .btn {
    margin-left: 20px;
  }
}

.progress {
  background: $dark-gray;
  border-radius: 50px;
  height: 10px;
  position: relative;

  .progress-bar {
    height: 100%;
    border-radius: 50px;

    transition: 0.4s all ease-in-out;
  }
}


.round-progress {

  border-radius: 4px;
  height: 35px;
  background: var(--gray);
  display: flex;

  .bar {
    position: relative;

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:nth-child(2) {
      border-left: 1px solid rgba(var(--border-color), 1);
      border-right: 1px solid rgba(var(--border-color), 1);

    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }


  }

}

.bar {
  .bar-tip {
    border: 1px solid lighten($primary, 40);
    padding: 13px;
    bottom: 45px;
    background: #FFF;
    position: absolute;
    border-radius: 6px;
    font-size: 12px;
    z-index: 20;
    color: $primary;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    min-width: 200px;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scale(0);
    opacity: 0;

    transition: 0.4s all ease-in-out;

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 11px 0 11px;
      border-color: lighten($primary, 50) transparent transparent transparent;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #FFF transparent transparent transparent;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%);
    }

  }

  &:hover {
    .bar-tip {
      opacity: 1;
      transform: translateX(-50%) translateY(0) scale(1);
    }
  }

}


.input-number {
  position: relative;

  .number-icon {
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: column;
    top: 5px;

    @include rtl(right, 5px, auto);
    @include rtl(left, auto, 5px);


    a {
      font-size: 22px;
      display: block;
      height: 15px;
      padding: 0;
      margin-bottom: 2px;

      &:hover {
        color: $primary;
      }

      &.disabled {
        opacity: 0.9;
        pointer-events: none;
        cursor: not-allowed;

      }

    }
  }
}


.custom-range {

  input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
  }

  ::-webkit-slider-runnable-track {
    background: $dark-gray;
  }

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #FFF;
    box-shadow: -100vw 0 0 100vw $secondary;
    border: 2px solid #999;

  }

  ::-moz-range-track {
    height: 20px;
    background: $dark-gray;
  }

  ::-moz-range-thumb {
    background: #fff;
    height: 20px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw $secondary;
    box-sizing: border-box;
  }

  ::-ms-fill-lower {
    background: $secondary;
  }

  ::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
  }

  ::-ms-ticks-after {
    display: none;
  }

  ::-ms-ticks-before {
    display: none;
  }

  ::-ms-track {
    background: $dark-gray;
    color: transparent;
    height: 40px;
    border: none;
  }

  ::-ms-tooltip {
    display: none;
  }
}


.show-password {
  transform: translateY(-50%);
   @include rtl(inset, 50% 4px auto  auto , 50% auto  auto 4px );
  .btn {
    height: 100%;
    max-height: none;
  }
}


.mx-datepicker-range {
  max-width: none;
  width: 100%;
}

.mx-input {
  box-shadow: none;
  border: none;
  padding: 0;
  height: 30px;
  background: none;
}


.form-actions {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}




// forms

::placeholder {
  color: var(--font-color-base);
  opacity: 0.6;
  font-weight: 400;
}

.form-group {
  position: relative;

  &.inline-form {
    display: flex;
    align-items: center;
    gap: 10px;

    .form-label {
      width: 120px;
      text-align: end;
      flex-shrink: 0;
    }


  }

  .data-label {
    i {
      line-height: 5px;
    }
  }

  label {
    font-size: 12px;
    font-weight: 400;
    padding: 6px 0;
    white-space: nowrap;
  }

  &.form-checkbox {
    label {
      white-space: normal;
      word-break: break-word;
    }
  }

  &.floating-label {
    > label {
      position: absolute;
      left: 10px;
      top: -10px;
      background: #fff;
      padding: 0 10px;
      font-size: 12px;
      z-index: 1;

      @include rtl(left, 10px, auto);
      @include rtl(right, auto, 10px);


    }
  }
}


.form-control {
  @extend %form-control;
  min-height: $normal-form-size;

  &:disabled {
    background: #FAFAFA;
    font-weight: normal;
  }

  &.sm {
    min-height: $small-form-size;
  }

  &.lg {
    min-height: $large-form-size;
  }

  &.xl {
    min-height: $extra-large-form-size;
  }


  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 1px;
  }

  &.rounded {
    border-radius: $normal-radius;
  }

}

.form-select {
  @extend %form-control;
  -moz-padding-start: calc(0.75rem - 3px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  @include rtl(background-position, right .75rem center, left .75rem center);


  background-size: 13px 13px;
  height: $normal-form-size;
  cursor: pointer;

  &.sm {
    height: $small-form-size;
  }

  &.lg {
    height: $large-form-size;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 2px;
  }

  &.rounded {
    border-radius: $normal-radius;
  }


}

.form-textarea {
  @extend %form-control;
  height: $normal-textarea-size;

  &.sm {
    height: $small-textarea-size;
  }

  &.lg {
    height: $large-textarea-size;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 2px;
  }

  &:disabled {
    background: #FAFAFA;
     font-weight: normal;
  }

  &.rounded {
    border-radius: $normal-radius;
  }

}


.pre-input {
  position: relative;

  .pre-icon {
    position: absolute;
    height: 100%;
    width: 55px;
    font-size: 20px;
    opacity: 0.6;
    @extend %flex-area;
    justify-content: center;
    z-index: 1;

    @include rtl(right, 0, auto);
    @include rtl(right, auto, 0);

  }

  .mx-datepicker {
    padding-left: 50px;
    padding-right: 50px;
  }

  .vue-tags-input {
    padding-left: 45px;
    padding-right: 45px;
  }

  input {
    padding-left: 45px;
    padding-right: 45px;
  }
}


.search-box {
  & + .btn {
    margin-left: 20px;
  }
}

.progress {
  background: $dark-gray;
  border-radius: 50px;
  height: 10px;
  position: relative;

  .progress-bar {
    height: 100%;
    border-radius: 50px;

    transition: 0.4s all ease-in-out;
  }
}




.mx-datepicker-range {
  max-width: none;
  width: 100%;
}

.mx-input {
  box-shadow: none;
  border: none;
  padding: 0;
  height: 30px;
  background: none;
}


.form-actions {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}



