
.data-title {
  position: relative;

  &:hover {
    &:after {
      position: absolute;
      content: attr(data-title);
      padding: 1.2rem;
      line-height: 1.5rem;
      left: auto;
      color: #666;
      display: block;
      background: rgba(255,255,255, 0.95);
      font-size: 14px;
      box-shadow: 0 2px 35px rgba(0, 0, 0, .1);
      border-radius: 4px;
      animation-name: fadeOut;
      animation-fill-mode: both;
      animation-duration: 0.4s;
      animation-delay: 10s;
      z-index: 100;
      font-family: $font-family-base;
      width: 280px;
      white-space: normal;
      top: 100%;
    }
    &:before {
      content: "";
      border: 8px solid transparent;
      border-bottom-color: #FFF;
      display: block;
      position: absolute;
      @include rtl(inset, 100% auto  auto 20% , 100% 20% auto  auto );;
      margin-top: -16px;
      top: 100%;
      animation-name: fadeOut;
      animation-fill-mode: both;
      animation-duration: 0.4s;
      animation-delay: 10s;


    }


  }


}


.hint-box {
  background: rgba(34, 46, 58, .8);
  color: #FFF;
  border-radius: 6px;
  font-size: 12px;
  box-shadow: 0 2px 35px rgba(0, 0, 0, .1);
  animation-name: fadeOut;
  animation-fill-mode: both;
  animation-duration: 0.4s;
  animation-delay: 3s;
  z-index: 100;
  position: absolute;
  top: 140%;
  padding: 5px;
  min-width: 300px;
  right: 0;

  &:before {
    content: "";
    border: 8px solid transparent;
    border-bottom-color:  rgba(34, 46, 58, .8);
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
    margin-left: -12px;

  }
}


