*,
*::before,
*::after {
  box-sizing: border-box;
}


// List
ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}


// Links
a {
  color: var(--font-color-base);
  text-decoration: none;

  &.disabled {
    cursor: not-allowed;
    pointer-events:none ;
  }


}

// Forms

label {
  display: inline-block;
}

button {
  border-radius: 0;
}


button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // 1
  font-family: inherit;
  line-height: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=email],
input[type=password],
input[type=text],
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;

  &:disabled {
    opacity: 1;
  }
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}


::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}


progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

hr{
  border: none;
  height: 1px;
  background: var(--border-color);
}
