// segments
%flex-area {
  display: flex;
  align-items: center;
}

%form-control {
  width: 100%;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: $normal-radius;
  font-weight: 300;
  line-height: 1.5;
  color: var(--font-color-base);
  background-color: var(--light);
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  resize: none;
  font-family: $font-family-base;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02);

  &[type=number] {
    -moz-appearance: textfield;
  }

}

%form-control-underline {
  border: none;
  border-bottom: 2px solid var(--border-color);
  box-shadow: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}


%disabled {
  background: var(--dark-gray);
  border-color: var(--gray);
  color: var(--font-color-base);
  cursor: not-allowed;
  pointer-events: none;

}


